# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.

/.github/ @libra2org @libra2org

# Auto-reviewers for all code

* @libra2org
